opencv-python~=4.8.0.76
ultralytics~=8.2.46
streamlit~=1.35.0
cv
opencv-contrib-python
seaborn
jsonschema
torchvision
thop
altair
numpy~=1.24.3
tensorflow~=2.15.0
dill
pytesseract~=0.3.10
pillow~=10.2.0
easyocr~=1.7.1
torch~=2.2.1
fuzzywuzzy~=0.18.0
transformers~=4.41.1
supervision~=0.21.0